.Pokemon-hand {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  gap: 0rem 1rem;
  padding: 2rem;
  padding-bottom: 1rem;
  background-color: rgb(58, 58, 58);
}

.card-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.status-message {
  text-align: center;
  font-size: 0.75rem;
  padding: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #504e4e;
}

.active {
  text-decoration: underline;
}
